* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background: #faf8ef;
}

.container {
    display: grid;
    grid-template-columns: 420px 200px;
}

.game-play {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    border-radius: 5px;
}

.start-game {
    padding-top: 100px;
}

.start-game button {
    width: 200px;
    height: 50px;
    background: #8f7a66;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    color: #f9f6f2;
}